body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('orange.jpg'); /* Chemin vers ton image de fond */
    background-size: cover; /* Remplir l'écran */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
    height: 100vh; /* Prendre toute la hauteur de la fenêtre */
    justify-content: center;
    color: white; /* Change la couleur du texte pour le rendre plus lisible */
}


h1 {
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Ajouter une ombre au texte pour le faire ressortir */
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 10px;
    perspective: 1000px;
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 30px; /* Augmente la valeur ici */
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.card:hover {
    transform: scale(1.1);
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px; /* Assure-toi que cela soit cohérent */
    backface-visibility: hidden;
}

.card .front {
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.card .back {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 30px; /* Assure-toi que cela soit cohérent */
}
.score {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    animation: fadeIn 0.5s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Ombre pour le score */
}
#controls {
    margin-bottom: 20px;
}

#restart-button {
    background-color: #ff5722; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 20px; /* Coins arrondis */
    padding: 10px 20px; /* Espacement interne */
    font-size: 18px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    transition: background-color 0.3s ease; /* Animation au survol */
}

#restart-button:hover {
    background-color: #e64a19; /* Couleur au survol */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
